*{
    margin: 0;
    padding: 0;

}
#wrapper{
    width:1000px;
    margin:0 auto;
    
}
#header{
    display: block;
    height: 

}
#sidebar{
    width:18%;
    display: inline-block;

}
#main{
    width:70%;
    display: inline-block;
    vertical-align: top;
    
}

.logo{
    height: 8%;
    width: 8%;
    z-index: 1;
    margin: 10px -10px -25px 0px;    
}

#headtop{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: block;
    color:#525252;

}
.headtopblue{
   display: inline;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #00679B;
    margin-left:-10px; 

   
}
#headbottom{
    display: block;
    background: linear-gradient(#036A9C,#4483A8,#036A9C);
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    padding:10px;
    border-radius: 2px;
    margin-bottom: 10px;

}
#tophalf{

    display: block;
    background: linear-gradient(#E3E3E3, #FFFFFF, #FFFFFF);
}
#thleft{
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    
    padding: 15px; 
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #C0C0C0;
    border-width: 2px;
}
.thlhead{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  

}
.thlheadred{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 14px;
    color: #E43440;
    display: inline;
    font-weight: bold;
}
.thlblue{
    font-size: 12px;
    display: inline;
    color: #2479A6;
    font-weight: bold;
   
}
.b1{
    background: linear-gradient(#5397BF,#026A9C);
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    padding: 7px 20px;
    color:white;
    text-align: center;
    margin-top:10px;

}
    
    

.b2{
    background: linear-gradient(#F1AA60, #F37214);
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    padding: 7px 10px;
    color:white;
    text-align: center;
    
}

#thright{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    
}

#thrighthead{
    display: inline-block;
    vertical-align: top;
    

    
}
.dnstext{
    display: inline-block;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    color: #2B7BA6;
    font-size: 12px;
   


}
.dnsbutton{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    
    

}
.phone{
    width: 50px;
    margin-left: 600px;
   display: inline-block;
   vertical-align: top;
   margin-top: -20px;
  
    
    
}
.width100{
    width:800px;
    margin-top: -30px;
}

#hoursphone{
    display: inline-block;
    position: relative;
    left: 660px;
    top: -55px;
  

}

.infotextsmall{
font-family: Arial, Helvetica, sans-serif;
font-size: 8px;
display: block;
color: #959595;

}
.phonenumber{
color:#3FCDDF;
font-size: 22px;
font-family: Arial, Helvetica, sans-serif;

}
#mainbottom{
    padding-top: 10px;
  
}

.blueH{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #277DA9;
    font-weight: bold;
    margin-bottom:5px;
  
}
.lightblue{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #39B8C6;
    
}
.maintext{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}
